.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:10px auto;
    position: fixed;
    top:0;
     width: 100%;
.navbar-left{
    .navbar-logo{
         width:100px;
        height:100px;
      .codingbaba-logo{
        width:100%;
        height:100%;
    }
    }
    
}

.navbar-center{
    .cb-tabs{
        display:flex; 
        li{
            padding: 1rem;
            .tab1{
                color:#000;
            }
        }
    }
    
}

.navbar-right{
    display:flex;
    justify-content: space-evenly;
    margin:20px; 
    .login-btn{
        margin:0 15px;
        background-color: var(--btn-secondary-color);
    }
    
    .enroll-btn{
       
    }

    .login-btn:hover{
        background-color: #dd3f71;
    }
}
}