.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  //  margin:0px auto;
  position: fixed;
  top: 0;
  width: 100%;
  //background-color: #e2e2e2;
  z-index: 999;
  .navbar-left {
    .navbar-logo {
      width: 100px;
      height: 100px;
      .codingbaba-logo {
        width: 100%;
        height: 100%;
      }
    }
  }

  .navbar-center {
    .cb-tabs {
      display: flex;
      li {
        padding: 1rem;
        .tab1 {
          color: #000;
        }
      }
    }
  }

  .navbar-right {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    .login-btn {
      margin: 0 15px;
      background-color: var(--btn-secondary-color);
    }

    .enroll-btn {
    }

    .user-data {
      display: flex;
      text-align: center;
      //margin: 10px 15px 0 0;
      justify-content: center;
      align-items: center;
      gap: 25px;

      .cart-item {
        display: flex;
        position: relative;
        .cart-btn {
          width: 25px;
          height: 25px;
          margin: 10px;
          //color: var(--btn-secondary-color);
          color: var(--t-primium-400);
        }

        .item-count {
          position: absolute;
          width: 23px;
          height: 23px;
          padding: 0px;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-left: 30px;
          margin-top: -5px;
          border: 1px solid #000;
          border-radius: 50%;
          color: #fff;
          background-color: var(--accent-color);
        }
      }
    }
    .login-btn:hover {
      background-color: #dd3f71;
    }
  }
}

@media screen and (max-width: 760px) {
  .navbar {
    text-align: center;
    align-items: center;
    .navbar-left {
    display:contents;
    }

    .navbar-center {
      display: none;
    }

    .navbar-right {
      display: none;
    }
  }
}

@media screen and (max-width:480px){
    .navbar {
        .navbar-left {
        }
    
        .navbar-center {
          display: none;
        }
    
        .navbar-right {
          display: none;
        }
      }
}

// //Navbar Responsive CSS
// @media screen and (max-width:768px){        //at 768px
//     .navbar{
//         .nav-container {
//              .nav-left{
//             display:none;
//         }
//         .nav-center{
//             position: static;
//             transform: translateX(0);
//         }
//         }
//     }

// }
