.footer {
  width: 100vw;
  height: 70vh;
  margin-top:200%;
  background-color: #030138;
  justify-content: center;
  align-items: center;
  padding:5px;
  
  .footer-heading {
    text-align: center;
    color: #fff;
    margin-top:80px;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .footer-btn {
    justify-content: center;
    align-items: center;
    background-color: var(--btn-secondary-color);
    margin-left: 40%;
    width:260px;
    margin-top: 20px;
}

  .footer-tail {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    
    .footer-tail-left{
        
        p{
            color:#fff;
            margin-top: -15px;
            
        }
    }
    .footer-tail-center{
      p{
        color:hsla(0,0%,87%,.592);
      }
        h5{
            color:#fff;
            margin-bottom: 10px;
        }
    }
    .footer-tail-right{
      p{
        color:hsla(0,0%,87%,.592);
      }
       h5{
        color:#fff;
        margin-bottom: 10px;
       }
    }
  }
}
