@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #484848;
  --secondary-color:#aeaeae;
  --accent-color: #8800c7;
  --btn-primary-color:#7209b7;
  --btn-secondary-color:#ed155a;
}

body {
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  /* overflow: auto; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-text-color);
}

p {

   color: var(--secondary-text-color);
   font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  padding: 12px 16px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
}

.btn-primary:hover {
  background-color: #9800df;
}

.btn-primary:active {
  background-color: #b413ff;
}