.faq-card{
    width:450px;
    height: auto;
    border:1px solid #000;
    border-radius: 10px;
    padding:20px;
    margin:20px 5px;
    background-color: rgb(237, 247, 255);
    border-color: rgb(166, 230, 255);
    .faq-question{
        margin-bottom: 15px;
    }

    .faq-answer{

    }
}